@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

img {
	display: block;
	max-width: 100%;
}

.title {
	animation: revealTitle 1s linear 0.5s forwards, translateText linear;
	animation-timeline: auto, scroll();
	transform: translateY(-20px);
	opacity: 0;
}

.title strong {
	animation: revealTitle 1s linear 1s forwards;
	transform: translateY(-20px);
	opacity: 0;
}

.animated_text {
	animation: revealSectionTitle linear;
	animation-timeline: view();
	animation-range-start: 100px;
	animation-range-end: 300px;
	animation-fill-mode: forwards;
	transform: translateX(-20px);
	opacity: 0;
}

@keyframes translateText {
	100% {
		transform: translateY(900px);
	}
}

@keyframes revealTitle {
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes revealSectionTitle {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
